<div class="white-box">
  <div class="row">
    <div class="col-md-6 col-12 mb-30"
         *ngFor="let product of productList
         | filter:'publisherId':publisher
         | filter: 'categoryId':category
         | paginate: { itemsPerPage: 5, currentPage: page }">
      <app-product-item [item]="product"></app-product-item>
    </div>
  </div>
  <pagination-controls (pageChange)="onPageChange($event)"
                       (pageBoundsCorrection)="onPageChange($event)"
                       [previousLabel]="'admin.pagination.prev_label' | translate"
                       [nextLabel]="'admin.pagination.next_label' | translate">
  </pagination-controls>
</div>
