@import '_var.scss';

h1 {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 30px;
}

.max-width_md {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.vertical_padding_md {
  padding-top: 70px;
  padding-bottom: 70px;
}


label {
  cursor: pointer;

  &.form-label {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;

    &.custom-control-label {
      margin-bottom: 0;

      &:before {
        top: 0.2rem;
      }

      &:after {
        top: 0.2rem;
      }
    }
  }
}

input, select {
  &.form-control {
    border: 1px solid $color-gray;
    background: $color-gray;
    font-size: 14px;
    border-radius: 4px;
    padding: 10px 12px;
    height: 42px;
  }
}

.form-group {
  position: relative;
  margin-bottom: 20px;

  &.d-flex{
    .form-label{
      margin-right: 15px;
    }
  }

  .form-error {
    position: absolute;
    left: 0;
    top: 100%;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 2px;
    font-size: 10px;
    text-align: right;
    width: 100%;
  }
}

.form-error {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  z-index: 1;
  color: $color-red;
}

.button-default {
  font-size: 15px;
  padding: 9px 25px;
  border-radius: 4px;
  border: 1px solid;

  @include transition(all .15s ease-in-out);

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.blue {
    background: $color-blue;
    border-color: $color-blue;
    color: #ffffff;

    &:hover:not(:disabled) {
      background: $color-blue_dark;
      border-color: $color-blue_dark;
    }
  }
}

.link-default {
  color: $color-blue;
  font-size: 15px;
}
