$color-white: #ffffff;
$color-black: #232323;
$color-gray: #efefef;
$color-gray_light: #f3f3f3;
$color-gray_dark: #828282;
$color-blue: #007BFF;
$color-blue_dark: #0061ca;
$color-red: #ff0000;

$global-font: 15px 'Montserrat', sans-serif;

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
