<div class="dashboard-sidebar" [class.sidebar-open]="sidebarOpen">
  <div class="dashboard-sidebar_header d-flex align-items-center justify-content-between">
    <a routerLink="/" class="logo-default">
      <img src="../assets/images/logo.png" alt="">
    </a>
    <button class="button-default blue" (click)="sidebarOpen = !sidebarOpen">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
  </div>
  <div class="dashboard-sidebar_body">
    <ul class="dashboard-menu list-unstyled">
      <li *ngFor="let item of menu">
        <a [routerLink]="item.route" routerLinkActive="active">
          <i [classList]="item.icon_class" aria-hidden="true"></i>
          {{item.title | translate}}
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="dashboard-main" [class.sidebar-open]="sidebarOpen">
  <div class="dashboard-header">
    <div class="container-fluid h-100 padding-hor-20">
      <div class="row h-100 align-items-center">
        <div class="col-auto">
          <h3>{{ 'admin.' + routeTitle + '.title' | translate }}</h3>
        </div>
        <div class="col">
          <ul class="actions-navbar list-unstyled d-flex flex-wrap justify-content-end align-items-center">
            <li>
            <span class="d-sm-inline-block d-none" *ngIf="user">
              {{user.name}}
            </span>
            </li>
            <li>
              <button class="button-default blue d-inline-block d-sm-none" title="Profile">
                <i class="fa fa-user" aria-hidden="true"></i>
              </button>
              <div class="dd-absolute_outer">
                <button class="button-default blue" title="Change Language">
                  <i class="fa fa-language" aria-hidden="true"></i>
                </button>
                <div class="dd-absolute_inner">
                  <ul class="dd-absolute list-unstyled">
                    <li *ngFor="let item of translateService.getLangs()">
                      <a type="button" [class.active]="item === translateService.currentLang"
                         (click)="changeLanguage(item)">
                        {{item | uppercase}}
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <button class="button-default blue" title="LogOut" (click)="onClick()">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="dashboard-content">
    <router-outlet></router-outlet>
  </div>
</div>
